<div class="card col-md-8 block-center">
  <div class="card-body">
    <div class="d-flex align-items-center">
    <%= image_tag wicked_pdf_asset_base64('logo-1.png'), height: "50vw",class: "img-responsive" %>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-xl-12 col-6">
        <div class="row">
          <div class="col-lg-12" style="text-align: right;">
              <h4>Lukoma Clinic</h4>
              <address></address>Nkumba
              <br/>Katabi, Lyamutundwe
              <br/>Entebe Road
          </div>
        </div>
      </div>
    </div>

    <h2>Patient Laboratory Report</h2>
    <hr/>
    <div class="row mb-3">
        <table class="col-xl-12 col-12 py-2" style="width: 100%;">
          <tr class="form-row col-lg-12">
            <td class="col">
              <h4><%= @lab_patient.first_name %>, <%= @lab_patient.last_name %></h4>
              <p><%= @lab_patient.lab_patient_id %></p>
              <p><%= @lab_patient.sex %></p>
              <address></address><%= @lab_patient.address %>
            </td>
            <td class="col">
              <p><%= @lab_patient.age %></p>
              <p><%= @lab_patient.weight %> KGs</p>
              <p><%= @lab_patient.height %> CMs</p>
              <p><%= @lab_patient.phone_number %></p>
            </td>
          </tr>
        </table>
    </div>
    <hr/>
    <div class="container-fluid mt-2">
      <div class="">
        <div>
          <h4>Diagnosis</h4>
              <% if !@lab_patient.lab_results.blank? %>
                <%= @lab_patient.lab_results.last.diagnosis %>
              <% else %>
                <%= "Not Available" %>
              <% end %>
        </div>
      </div>
      <br>
      <div class="">
        <div>
          <h4>Results</h4>
              <% if !@lab_patient.lab_results.blank? %>
                <%= @lab_patient.lab_results.last.result %>
              <% else %>
                <%= "Not Available" %>
              <% end %>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6 py-2">
          <div class="row mb-3">
              <div class="col-8">Served By:</div>
              <div class="col-4">
                  <div class="text-right"><strong>Dr. <%= @lab_patient.doctor.titleize %></strong></div>
              </div>
          </div>
          <div class="row mb-3">
              <div class="col-8">Signature:</div>
              <br>
              <div class="col-4">
                  <div class="text-right">---------------------------------</div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
