<div class="content-heading">
   <div>Patients Results
      <small>Patient Information</small>
   </div>
</div>


<div class="row">
   <div class="col-md-12">
      <div class="card card-default">
         <%= search_form_for @q, url: results_path, html: { method: :get } do |f| %>
         <div class="card-body">
            <fieldset>
               <div class="form-row">
                  <div class="col-md-8">
                     <div class="form-group form-row">
                        <%= f.label :patient_number_eq, "Patient Number", class:"col-md-2 col-form-label" %>
                        <div class="col-lg-8">
                           <%= f.search_field :patient_number_eq, {include_blank: true, id: "patient_number", class: "form-control"} %>
                        </div>
                     </div>
                  </div>
               </div>
            </fieldset>
            <div class="clearfix">
               <div class="float-right">
                  <%= f.submit 'Search', :class=>'btn btn-primary' %>
               </div>
            </div>
         </div>
         <% end %>
      </div>
   </div>
</div>

<div class="table-responsive">
      <table class="table table-striped table-bordered table-hoverlarge-12 columns large-centered">
         <thead>
            <tr>
              <th>No#</th>
               <th>Patient Number#</th>
               <th>Results</th>
            </tr>
         </thead>
         <tbody>
         <% @results.each_with_index do |result, i| %>
            <tr>
              <td><%= (i + 1) %></td>
               <td><%= result.patient_number %></td>
               <td>
                 <ol>
                   <% result.results.each do |key, value| %>
                    <li><%= value %></li>
                   <% end %>
                 </ol>
               </td>
            </tr>
         <% end %>
         </tbody>
   </table>
   <%= paginate(@results) %>
</div>
