<div class="row">
  <div class="block-center mt-xl wd-xxl col-sm-8 col-centered">
    <div class="card card-dark card-flat">
      <div class="card-body">
      <%= form_with(model: patient, local: true, :html => {:"data-parsley-validate" => '', class: "mb-lg"}) do |form| %>
        <div class="form-group">
          <%= form.label :first_name, "Full Name", class: "text-muted" %>
          <%= form.text_field :full_name, class: "form-control" %>
          <span class="invalid-feedback"><%= show_errors(patient, :full_name) %></span>
        </div>
        <div class="form-group">
          <%= form.label :sex, "Sex", class: "text-muted" %>
          <%= form.select :sex, options_for_select(["Male", "Female"]), {prompt: "Select One"}, class: "form-control" %>
          <span class="invalid-feedback"><%= show_errors(patient, :sex) %></span>
        </div>
        <div class="form-group">
          <%= form.label :age, "Age", class: "text-muted" %>
          <%= form.text_field :age, id: "age", class: "form-control" %>
          <span class="invalid-feedback"><%= show_errors(patient, :age) %></span>
        </div>
        <div class="form-group">
          <%= form.label :category, "Category", class: "text-muted" %>
          <%= form.select :category, options_for_select(["Outward", "Laboratory"]), {prompt: "Select One"}, class: "form-control" %>
          <span class="invalid-feedback"><%= show_errors(patient, :category) %></span>
        </div>
        <div class="form-group"></div>
        <div class="clearfix">
          <%= form.submit 'Submit', :class=>'btn btn-info mb-2' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
