<div class="content-heading">
   <div>Patients Info
      <small>Patient Information</small>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <div class="card card-default">
         <%= search_form_for @q, url: patients_path, html: { method: :get } do |f| %>
         <div class="card-body">
            <fieldset>
               <div class="form-row">
                  <div class="col-md-6">
                     <div class="form-group form-row">
                        <%= f.label :patient_id_eq, "Patient ID", class:"col-md-2 col-form-label" %>
                        <div class="col-lg-8">
                           <%= f.search_field :patient_id_eq, {include_blank: true, id: "patient_id", class: "form-control"} %>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group form-row">
                        <%= f.label :full_name, "Name", class:"col-md-3 col-form-label" %>
                        <div class="col-lg-8">
                           <%= f.search_field :full_name_eq, {include_blank: true, id: "full_name", class: "form-control"} %>
                        </div>
                     </div>
                  </div>
               </div>
            </fieldset>
            <div class="clearfix">
               <div class="float-right">
                  <%= f.submit 'Search', :class=>'btn btn-primary' %>
               </div>
            </div>
         </div>
         <% end %>
      </div>
   </div>
</div>


<div class="table-responsive">
      <table class="table table-striped table-bordered table-hoverlarge-12 columns large-centered">
         <thead>
            <tr>
              <th>No#</th>
               <th>Patient ID#</th>
               <th>Full Name</th>
               <th>Sex</th>
               <th>Age</th>
               <th>Doctor</th>
            </tr>
         </thead>
         <tbody>
         <% @patients.each_with_index do |patient, i| %>
            <tr class="gradeX">
              <td><%= (i + 1) %></td>
               <td><a href=<%=patient_path(id: patient.id)%>><%= patient.patient_id %></a></td>
               <td><%= patient.full_name %></td>
               <td><%= patient.sex %></td>
               <td><%= patient.age %></td>
               <td><%= patient.doctor.titleize %></td>
               <!-- <td>
               <#% if can? :update, patient %>
                  <#%= link_to 'Update', edit_patient_path(patient) %>
               <#% end %>
               </td> -->
            </tr>
         <% end %>
         </tbody>
   </table>
   <%= paginate(@patients) %>
</div>
