<div class="content-heading">
   <div>Patients Info
      <small>Patient Information</small>
   </div>
</div>
<div class="container-fluid">
   <!-- DATATABLE DEMO 1-->
   <div class="card">
      <div class="card-header">
         <div class="card-title">Patients</div>
      </div>
      <div class="card-body">
         <div id="datatable1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <table class="table table-striped my-4 w-100 dataTable no-footer dtr-inline table-responsive" id="datatable1" role="grid" aria-describedby="datatable1_info">
                <thead>
                    <tr>
                      <th data-priority="1">Patient ID#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Sex</th>
                      <th>D.O.B</th>
                      <th>Height</th>
                      <th>Weight</th>
                      <th>Address</th>
                      <th>Phone Number</th>
                      <th>Doctor</th>
                      <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <% @patients.each do |patient| %>
                    <tr class="gradeX">
                      <td><a href=<%=patient_path(id: patient.id)%>><%= patient.patient_id %></a></td>
                      <td><%= patient.first_name %></td>
                      <td><%= patient.last_name %></td>
                      <td><%= patient.sex %></td>
                      <td><%= patient.date_of_birth %></td>
                      <td><%= patient.height %></td>
                      <td><%= patient.weight %></td>
                      <td><%= patient.address %></td>
                      <td><%= patient.phone_number %></td>
                      <td><%= patient.doctor.titleize %></td>
                      <td><%= link_to 'Update', edit_patient_path(patient) %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
              <%= paginate(@patients) %>
         </div>
      </div>
   </div>
</div>