<div class="card col-md-8 block-center">
  <div class="card-body">
    <div class="d-flex align-items-center">
    <%= image_tag wicked_pdf_asset_base64('company_logo.png'), height: "30vw",class: "img-responsive" %>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-xl-12 col-6">
        <div class="row">
          <div class="col-lg-12" style="text-align: right;">
              <h4>Lukoma Clinic</h4>
              <address></address>Nkumba
              <br/>Katabi
              <br/>Entebe Road
          </div>
        </div>
      </div>
    </div>

    <h2>Patient Medical Record</h2>
    <hr/>
    <div class="row mb-3">
        <table class="col-xl-12 col-12 py-2" style="width: 100%;">
          <tr class="form-row col-lg-12">
            <td class="col">
              <h4><%= @patient.first_name %>, <%= @patient.last_name %></h4>
              <p><%= @patient.patient_id %></p>
              <p><%= @patient.sex %></p>
              <address></address><%= @patient.address %>
            </td>
            <td class="col">
              <p><%= @patient.date_of_birth %></p>
              <p><%= @patient.weight %> KGs</p>
              <p><%= @patient.height %> CMs</p>
              <p><%= @patient.phone_number %></p>
            </td>
          </tr>
        </table>
    </div>
    <hr/>
    <div class="container-fluid mt-2">
      <div class="">
        <div>
          <h4>Diagnosis</h4>
          <p>
            <%= @patient.diagnosis %>
          </p>
        </div>
      </div>
      <div class="">
        <div>
          <h4>Results</h4>
          <p>
            <%= @patient.results %>
          </p>
        </div>
      </div>
      <div class="">
        <div>
          <h4>Prescription</h4>
          <p>
            <%= @patient.prescription %>
          </p>
        </div>
        <h4>Additional Prescription</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Prescription</th>
              <th>Additional Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 40%; height: 200px;"></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="">
        <div>
          <h4>Conclusion</h4>
          <p>
            <%= @patient.conclusion %>
          </p>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6 py-2">
          <div class="row mb-3">
              <div class="col-8">Served By:</div>
              <div class="col-4">
                  <div class="text-right"><strong>Dr. <%= @patient.doctor.titleize %></strong></div>
              </div>
          </div>
          <div class="row mb-3">
              <div class="col-8">Signature:</div>
              <div class="col-4">
                  <div class="text-right">---------------------------------</div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

              