<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="sidebar-nav">
         <!-- Iterates over all sidebar items-->
         <li class="<%= 'active' if controller.controller_name == 'home' %>">
            <a href="/" title="Dashboard">
               <em class="far fa-hospital"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
            </a>
         </li>

         <!-- Patients -->
         <!-- <ul id="outward_patients" class="sidebar-nav sidebar-subnav collapse"> -->
           <li class="">
              <a href="#patients" title="Patients" data-toggle="collapse">
                 <em class="fas fa-procedures"></em>
                 <span data-localize="sidebar.nav.DASHBOARD">Patients</span>
              </a>
              <ul id="patients" class="sidebar-nav sidebar-subnav collapse">
                 <li class="sidebar-subnav-header">Patients</li>
                 <li class="<%= 'active' if controller.controller_name == 'patients' && controller.action_name == 'index' %>">
                    <a href="<%= patients_path %>" title="Patients Info">
                       <span>Patients Info</span>
                    </a>
                 </li>
                 <li class="<%= 'active' if controller.controller_name == 'patients' && controller.action_name == 'new' %>">
                    <a href="<%= new_patient_path %>" title="New Patient">
                       <span>New Patient</span>
                    </a>
                 </li>
              </ul>
           </li>
         <!-- </ul> -->

         <!-- Medical Reports -->
         <li class="<%= 'active' if controller.controller_name == 'medical_reports' %>">
            <a href="<%= medical_reports_path %>" title="MedicalReports">
               <em class="fas fa-stethoscope"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Medical Reports</span>
            </a>
         </li>

         <!-- Payments -->
         <li class="<%= 'active' if controller.controller_name == 'payments' %>">
            <a href="<%= payments_path %>" title="Payments">
               <em class="fas fa-money-bill"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Payments</span>
            </a>
         </li>

      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->
